@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-stretch: normal;
}

.wrapper {
  width: 100%;
  height: 234px;
  box-sizing: border-box;
}

.swiper-wrapper {
  width: 240px;
  margin-bottom: 16px;
}

.swiper-container .swiper-pagination {
  position: static;
  height: 12px;
  margin-bottom: 22px;
}

.swiper-container .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-container .swiper-pagination-bullet-active {
  background: #b5b6bc;
}
.swiper-container .swiper-pagination-bullet {
  background: #dddddd;
}

.header {
  padding: 16px;
  background-color: white;
}

.header__title {
  font-weight: 400;
  font-size: 16px;
}

.services {
  padding: 16px;
  background-color: #f2f2f2;
}

.swiper__wrapper {
  position: relative;
  display: flex;
}

.swiper__wrapper:after {
  display: block;
  content: "";

  width: 24px;
  height: 81px;
  background-image: linear-gradient(#f8f8f8 0.04%, rgba(248, 248, 248, 0.0001));

  position: absolute;
  right: -16px;
}

.services__content {
  display: flex;
  align-items: center;
  width: 240px;
  height: 72px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #ffffff;

  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.services__logo {
}

.services__btn {
  margin-left: auto;
}

.btn {
  background-color: inherit;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
